@font-face {
  font-family: "iconfont"; /* Project id 3501067 */
  src: url('iconfont.woff2?t=1659158215386') format('woff2'),
       url('iconfont.woff?t=1659158215386') format('woff'),
       url('iconfont.ttf?t=1659158215386') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lcd-full:before {
  content: "\e92b";
}

.icon-liaotian:before {
  content: "\e61f";
}

.icon-guanbi:before {
  content: "\e63b";
}

.icon-jianhao:before {
  content: "\e63c";
}

.icon-shipin:before {
  content: "\e601";
}